/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4995629 */
  src: url('fonts/iconfont/font_4995629_jgiin9qztzh/iconfont.woff2?t=1754755836467') format('woff2'),
       url('fonts/iconfont/font_4995629_jgiin9qztzh/iconfont.woff?t=1754755836467') format('woff'),
       url('fonts/iconfont/font_4995629_jgiin9qztzh/iconfont.ttf?t=1754755836467') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-albums:before {
  content: "\e81d";
}
